.polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px;
  max-width: 360px;
  height: auto;
  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 25%));
}

.image-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aec6cf;
  max-width: 310px;
  max-height: 310px;
  margin: 2rem 1rem 0 1rem;
}

.image-cont:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  object-fit: contain;
  overflow: hidden;
}

.polaroid-caption {
  margin: 20px 0;
}
