.about-me-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about-me-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-me-summary {
  display: flex;
  flex: 1;
  padding: 0 1rem 1rem 1rem;
}

.about-me-text {
  display: flex;
}

.profile-pic {
  display: flex;
  flex: 1;
}

.skills-cont {
  display: flex;
  justify-content: space-between;
}
