.about-me-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-me-text {
  display: flex;
  max-width: 500px;
}

.avatar-polaroid {
  display: flex;
  margin: 0 2rem 2rem 0;
}

.flex-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills {
  min-width: 200px;
  margin: 0 0.5rem 0 0;
}
