@import './components/navbar.scss';
@import './components/footer.scss';
@import './components/polaroid.scss';
@import './components/burger-icon.scss';
@import './components/menu.scss';

@import './index.scss';
@import './projects.scss';
@import './about.scss';
@import './privacy-policy.scss';
@import './terms-of-uses.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf8f6;
  overflow-y: scroll;
  font-family: -apple-system, Helvetica Neue, Poppins, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    sans-serif;
}

h1,
h2,
h3 {
  color: #0f111a;
  font-weight: 500;
}

h1 {
  font-size: calc(64px + 0.390625vw);
}

h2 {
  font-size: calc(24px + 0.390625vw);
}

h3 {
  font-size: calc(18px + 0.390625vw);
}

p,
a {
  font-size: calc(12px + 0.390625vw);
}
p,
li {
  color: #0f111a;
  margin: 10px 0;
}

a:hover {
  text-decoration: underline;
}

.main-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  .main-cont {
    margin: 0 1rem;
  }
}
