a {
  color: blue;
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid-two,
.projects-grid-two {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-two {
  margin: 2rem 0;
}

.polaroid-cont {
  display: flex;
  :hover {
    cursor: pointer;
  }
}
