a {
  color: blue;
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  padding: 2rem 0;
}

.relevant-experience-cont {
  max-width: 200px;
}

.relevant-experience {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 0;
}

.projects-cont {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.polaroid-cont {
  min-width: 250px;
  :hover {
    cursor: pointer;
  }
  margin: 2rem 0;
}
