.projects {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.projects-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0 2rem;
}

.projects-description {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 0 1rem;
}

.projects-info-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem;
}

.projects-description a {
  color: #0f111a;
  font-family: Helvetica Neue, sans-serif;
  text-decoration: none;
  margin: 10px 0;
}
