.projects {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2rem 0;
}

.projects-polaroid {
  display: flex;
  flex: 1;
  margin: 0 2rem 2rem 0;
}

.project-cont {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.projects-description {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 700px;
}

.projects-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-info-col {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 2rem 0 0;
}

.projects-info-col a {
  color: #0f111a;
  font-family: Helvetica Neue, sans-serif;
  text-decoration: none;
  margin: 10px 0;
}
